table{
    width: 100%;}
table, tr, td{
    border:1px solid rosybrown;
    border-collapse: collapse;
}
td{
    color:rgb(7, 7, 7)
}

body{
    font-family:Arial, Helvetica, sans-serif;
}
div p{
    color:green
}